
html{
    padding: 0;
    margin: 0 ;
}
body{
    height: 100%;
    width: auto;
    padding: 0;
    margin: 0;
    font-family:'Raleway', sans-serif;

}
/* --------------------------------------------------------------------------- */
header{
    display: flex;
    padding: 10px;
    width: auto;
}
.logo{
    float: left;
    width: 60%;
    margin-left:10px;
}
.logo img{
    width: 100px;
}
nav{
    float: right;
    width: 40%;
    padding-left :20% ;

}
li{

    list-style: none;
    display: inline-block;
    margin:0 20px ;
}
a{
    text-decoration: none;
    color: black;
}
a.inscription{
    color:#0065FC ;
    font-weight: bolder;
}
header a:hover{
    color:#0065FC;
    border-top: 2px #0065FC solid;
    padding-top: 20px;
}


/* ---------------------------------------------------------------------------- */
#recherche {
   margin:0 30px 0 30px;
}
  #recherche h2,p{
    margin: 0px;
    padding: 0px;
}
.recherche{
    display: flex;
    padding-top: 10px;
    height: auto;
    width: auto;

}

.recherche i{
    color: black;
    background-color: #F2F2F2;
    width: 60px;
    height: 40px;
    border-radius:10px 0 0  10px ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.recherche .button{
    color:white;
    background-color:  #0065FC;
    width: 100px;
    height: 40px;
    border-style: none;
    border-radius: 0 10px 10px 0;
}
.recherche .texte{
    /* border-color: #F2F2F2; */
    width: 200px;
    border: 1px solid #F2F2F2;

}
/* ------------------------------------------------------------------------------ */
.filtre{
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items : center;
    height: auto;
    width: 80%;

}
.filtre div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 35px;
    border:#F2F2F2  2px solid ;
    border-radius: 30px 30px 30px  30px;
    margin: 0;
    padding: 0; 
}

.filtre p{
    padding: 0 20px 0 20px;
    text-align: center;
}
.filtre .fas {
    height: 35px;
    width: 35px;
    border:#F2F2F2 solid 2px;
    border-radius: 50%;
    background-color:  #DEEBFF;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC ;

}
.filtre div:hover{
    color: #0065FC;
    background-color:#F2F2F2 ;
    font-weight: bold;

}
.fas.fa-info {
    height: 20px;
    width: 20px;
    border:#F2F2F2 solid 2px;
    border-radius: 50%;
    background-color:  #DEEBFF;
    justify-content: center;
    align-items: center;
    color: #0065FC ;
    text-align: center;
    
}
.info {
    height: 100;
}

/* ------------------------------------------------------------------------------------ */
/* le conteneur  */
#hebergements{
    width: auto;
    height: 600px;
    display: flex;
    flex-wrap: nowrap;
}
/* element */
.hebergements-marseille{
    background-color: #F2F2F2;
    height: 100%;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    border-radius: 10px;
    margin: 10px 30px 0 30px;
}
.hebergements-marseille p{
    width: 100%;
   padding: 10px 10px;
}
.hebergements-marseille h2{
    width: 100%;
    padding: 0px 20px 0px 20px;
}
.carte-herbegment{
    height:150px ;
    width: 250px;
    border: 3px solid white;
    border-radius: 10px;
    background-color: white;
    margin: 0;
}

.carte-herbegment p,h5{
    margin: 0;
    padding: 0;
    color: black;
}

img{
    width: 100%;
    height: 60%;
    border-radius: 10px 10px 0 0;
}
.hebergements-marseille h5{
    margin:0 30px 0 30px;
    width: 100%;
}
/* --------------------------------------------------------------------------- */
.populaires{
    background-color: #F2F2F2;
    height: 100%;
    width: 25%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
 
}
.carte-populaire{
    width: 90%;
    border: 3px solid white;
    border-radius: 10px;
    background-color: white;
    margin-bottom:20px;
}
 .image-populaire{
    float: left;
    width: 40%;
    height: 120px;
}
 .info-populaire{
    padding-right: 1rem;
    float: right;
    width: 50%;
    height: 100%;
}
.carte-populaire img{
    width: 100%;
    height: 100%;
    border-radius:   10px 0 0 10px;
    
}
.etoile-populaire{
    align-content: flex-end;
    padding-top: 40px;
}

.fas.fa-star{
    color:#0065FC;
}
.fas.fa-star.gris{
    color: #F2F2F2;
}

section{
    width: auto;
    height: auto;
}


#activites{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    padding:20px 0 50px 0;

}
.activite-marseille h2{
    width: 100%;   

}
.activite-marseille{
    height: 500px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* padding: 0 10px 0 10px; */
    justify-content: space-around;
    flex-direction: row;
    justify-content: space-between;
    margin:0 30px 0 30px;

}
.carte-activites{
    height:400px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.281);
}
.carte-activites img{
    height:90% ;
}
.carte-activites h5{
    /* background-color: #0065FC; */
    padding: 15px 0 5px 10px;
}
.double {
    height: 80%;
    color: red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: none;

}
.double div {
    height: 45%;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.281);
    border-radius: 10px;
}
.double div .un {
    height: 70%;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.281);
    border-radius: 10px;
}
.un div:nth-child(1)
{
    height: 55%;
}
.un div:nth-child(2)
{
    height: 35%;
}
.double div img{
    height: 80%;
}
.double.un div  img{
    height: 80%;
}
.un div:nth-child(2) img
{
    height: 75%;
}
.double div h5{

   padding-bottom: 10px;
}


footer{
    margin-top: 20px;
    background-color:#F2F2F2 ;
    display: flex;
    /* justify-content:flex-start ; */
    
}
footer div{
    padding:20px 250px 20px 20px;
}
footer h5, p{
    padding-bottom: 10px;
}
footer p:hover{
    cursor: pointer;
    border-bottom: 1px black solid;
}

@media all and (max-width: 1282px) and (min-width: 980px) {
    .logo{
        width: 40%;
        margin-left:20px;
    }
    nav{
        width: 100%;
        padding-left :30% ;
        background-color: red;
    }
    #hebergements{
        
        width: auto;
        height: 1000px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    /* element */
    .hebergements-marseille{
        
        background-color: #F2F2F2;
        height: 50%;
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row;
        border-radius: 10px;
        margin: 10px;
    }
 
/* info sur populairess */

    .populaires{
        background-color: red;

        /* background-color: #F2F2F2; */
        height: 40%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row;
        border-radius: 10px;
        margin: 30px 0 0 30px;
    }

    .titre-bloc{
        width: 100%;
    }
    .carte-populaire{
        width: 30%;
        border: 3px solid white;
        border-radius: 10px;
        background-color: white;
        margin-bottom:20px;
    }
     .image-populaire{
        float: left;
        width: 40%;
        height: 120px;
    }
     .info-populaire{
        padding-right: 1rem;
        float: right;
        width: 50%;
        height: 100%;
    }
    .carte-populaire img{
        width: 100%;
        height: 100%;
        border-radius:   10px 0 0 10px;
        
    }

    
    .fas.fa-star{
        color:#0065FC;
    }
    .fas.fa-star.gris{
        color: #F2F2F2;
    }

    p{
        color: blue;
        }

}