body{
    height: 100%;
    padding: 0;
    margin: 0;
    font-family:'Raleway', sans-serif;
}
/* --------------------------------------------------------------------------- */
header{
    display: flex;
    padding: 10px;
    width: auto;
}
.logo{
    float: left;
    width: 60%;
    margin-left:10px;
}
.logo img{
    width: 100px;
}
nav{
    float: right;
    width: 40%;
    padding-left :20% ;

}
li{
    /* font-weight: bolder; */
    list-style: none;
    display: inline-block;
    margin:0 20px ;
}
a{
    text-decoration: none;
    color: black;
}
header a:hover{
    color:#0065FC;
}


/* ---------------------------------------------------------------------------- */
#recherche {
   margin:0 30px 0 30px;
}
  #recherche h2,p{
    
    margin: 0px;
    padding: 0px;
}
.recherche{
    display: flex;
    padding-top: 10px;
    height: auto;
    width: auto;
    /* background-color: rgb(192, 255, 206); */
}

.recherche i{
    color: black;
    background-color: #F2F2F2;
    width: 60px;
    height: 40px;
    border-radius:10px 0 0  10px ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.recherche .button{
    color:white;
    background-color:  #0065FC;
    width: 100px;
    height: 40px;
    border-style: none;
    border-radius: 0 10px 10px 0;
}
.recherche .texte{
    border-color: #F2F2F2;
    width: 200px;
}
/* ------------------------------------------------------------------------------ */
.filtre{
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items : center;
    height: auto;
    width: 80%;

}
.filtre div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 35px;
    border:#F2F2F2  3px solid ;
    border-radius: 30px 30px 30px  30px;
    margin: 0;
    padding: 0; 

}
.filtre  h3{



}
.filtre p{
    padding: 0 20px 0 20px;
    text-align: center;
}
.filtre .fas {
    height: 35px;
    width: 35px;
    border:#F2F2F2 solid 2px;
    border-radius: 50%;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;

}
.filtre div:hover{
color: #0065FC;
background-color:#F2F2F2 ;
font-weight: bold;

}



/* ------------------------------------------------------------------------------------ */

/* le conteneur  */
#hebergements{
    width: auto;
    height: 600px;
    display: flex;
    flex-wrap: nowrap;

}
/* element */
.hebergements-marseille{
   background-color: #F2F2F2;
    height: 100%;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
   justify-content: space-around;
   flex-direction: row;
   border-radius: 10px;
   margin:0 30px 0 30px;
}
.hebergements-marseille p{
    width: 100%;
   padding: 10px 10px;
}
.hebergements-marseille h2{
    width: 100%;
    padding: 0 20px 0 20px;
}
.carte-herbegment{
    height:150px ;
    width: 250px;
    border: 5px solid white;
    border-radius: 20px;
    background-color: white;
    margin: 0;
}

.carte-herbegment p,h5{
    margin:0;
    padding: 0;
    color: black;
}
i{
    color:#0065FC;
}
.populaires{
   background-color: #F2F2F2;
    height: 100%;
    width: 25%;
    display: flex;
    flex-wrap: nowrap;
   justify-content: space-around;
   flex-direction: column;
   border-radius: 10px;
 align-items: center;
 
}
.carte-populaire{
    height:40% ;
    width: 250px;
    border: 5px solid white;
    border-radius: 10px;
    background-color: white;
    margin-bottom:20px;
}
img{
    width: 100%;
    height: 60%;
    border-radius: 20px 20px 0 0;
}
section{
    width: auto;
    height: auto;
}
#conteneur{
    border: 3px solid black;
    /* height: 1080px; */
    width: 980px;
    display: flex;
    flex-wrap: wrap;
   padding: 10px 10px;
   justify-content: space-around;
   flex-direction: row;
}


.element{
    height:20% ;
    width: 300px;
    border: 3px solid black;
    
}
.element:nth-child(1){
    background-color: red;

}
.element:nth-child(2){
    background-color: royalblue;
}
.element:nth-child(3){
    background-color: saddlebrown;
}
.element:nth-child(4){
    background-color: salmon;
}
.element:nth-child(5){
    background-color: springgreen;
}
.element:nth-child(6){
    background-color: chartreuse;
}