
html{
    padding: 0;
    margin: 0 ;
}
body{
    height: 100%;
    width: auto;
    padding: 0;
    margin: 0;
    font-family:'Raleway', sans-serif;

}
/* --------------------------------------------------------------------------- */
header{
    display: flex;
    padding: 10px;
    width: auto;
}
.logo{
    float: left;
    width: 60%;
    margin-left:10px;
}
.logo img{
    width: 100px;
}
nav{
    float: right;
    width: 40%;
    padding-left :20% ;

}
li{

    list-style: none;
    display: inline-block;
    margin:0 20px ;
}
a{
    text-decoration: none;
    color: black;
}
a.inscription{
    color:#0065FC ;
}
header a:hover{
    color:#0065FC;
    border-top: 2px #0065FC solid;
    padding-top: 20px;
}


/* ---------------------------------------------------------------------------- */
#recherche {
   margin:0 30px 0 30px;
}
  #recherche h2,p{
    margin: 0px;
    padding: 0px;
}
.recherche{
    display: flex;
    padding-top: 10px;
    height: auto;
    width: auto;

}

.recherche i{
    color: black;
    background-color: #F2F2F2;
    width: 60px;
    height: 40px;
    border-radius:10px 0 0  10px ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.recherche .button{
    color:white;
    background-color:  #0065FC;
    width: 100px;
    height: 40px;
    border-style: none;
    border-radius: 0 10px 10px 0;
}
.recherche .texte{
    /* border-color: #F2F2F2; */
    width: 200px;
    border: 1px solid #F2F2F2;

}
/* ------------------------------------------------------------------------------ */
.filtre{
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items : center;
    height: auto;
    width: 80%;

}
.filtre div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 35px;
    border:#F2F2F2  2px solid ;
    border-radius: 30px 30px 30px  30px;
    margin: 0;
    padding: 0; 
}

.filtre p{
    padding: 0 20px 0 20px;
    text-align: center;
}
.filtre .fas {
    height: 35px;
    width: 35px;
    border:#F2F2F2 solid 2px;
    border-radius: 50%;
    background-color:  #DEEBFF;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC ;

}
.filtre div:hover{
    color: #0065FC;
    background-color:#F2F2F2 ;
    font-weight: bold;

}
/* ------------------------------------------------------------------------------------ */
/* le conteneur  */
#hebergements{
    width: auto;
    height: 600px;
    display: flex;
    flex-wrap: nowrap;
}
/* element */
.hebergements-marseille{
    background-color: #F2F2F2;
    height: 100%;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    border-radius: 10px;
    margin:0 30px 0 30px;
}
.hebergements-marseille p{
    width: 100%;
   padding: 10px 10px;
}
.hebergements-marseille h2{
    width: 100%;
    padding: 0 20px 0 20px;
}
.carte-herbegment{
    height:150px ;
    width: 250px;
    border: 3px solid white;
    border-radius: 10px;
    background-color: white;
    margin: 0;
}

.carte-herbegment p,h5{
    margin:0;
    padding: 0;
    color: black;
}

img{
    width: 100%;
    height: 60%;
    border-radius: 10px 10px 0 0;
}
/* --------------------------------------------------------------------------- */
.populaires{
    background-color: #F2F2F2;
    height: 100%;
    width: 25%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
 
}
.carte-populaire{
    width: 90%;
    border: 3px solid white;
    border-radius: 10px;
    background-color: white;
    margin-bottom:20px;
}
 .image-populaire{
    float: left;
    width: 40%;
    height: 120px;
}
 .info-populaire{
    padding-right: 1rem;
    float: right;
    width: 50%;
    height: 100%;
}
.carte-populaire img{
    width: 100%;
    height: 100%;
    border-radius:   10px 0 0 10px;
    
}
.etoile-populaire{
    align-content: flex-end;
}

.fas.fa-star{
    color:#0065FC;
}
.fas.fa-star.gris{
    color: #F2F2F2;
}

section{
    width: auto;
    height: auto;
}
#conteneur{
    border: 3px solid black;
    /* height: 1080px; */
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
   /* padding: 10px 10px; */
   justify-content: space-around;
   flex-direction: row;
}


.element{
    display: flex;
    flex-wrap: wrap;
    height:20% ;
    width: 300px;
    border: 3px solid black;
    
}
.element1{
    background-color: red;

}
.element2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100px;
    height: 100px;
    background-color: royalblue;
}
.element2 :nth-child(1){
    width: 80px;
    height: 50%;
    background-color: gold;
    flex-direction: column;

}
.element2 :nth-child(2){
    width: 80px;
    height: 50%;
    background-color: rgb(248, 6, 127);

}
.element:nth-child(3){
    background-color: saddlebrown;
}
.element:nth-child(4){
    background-color: salmon;
}

#activites{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;

}
.activite-marseille h2{
    width: 100%;   

}
.activite-marseille{
    height: 500px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* padding: 0 10px 0 10px; */
    justify-content: space-around;
    flex-direction: row;
    justify-content: space-between;
    margin:0 30px 0 30px;

}
.carte-activites{
    height:400px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.281);
}
.carte-activites img{
    height:90% ;
}
.double {
    height: 80%;
    color: red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: none;

}
.double div {
    height: 45%;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.281);
    border-radius: 10px;
}
.un div:nth-child(1)
{
    height: 60%;
}
.un div:nth-child(2)
{
    height: 30%;
}
.double div img{
    height: 80%;
}
.double div h5{

   padding-bottom: 10px;
}


footer{
    margin-top: 20px;
    background-color:#F2F2F2 ;
    display: flex;
    /* justify-content:flex-start ; */
    
}
footer div{
    padding:20px 250px 20px 20px;
}
footer h5, p{
    padding-bottom: 10px;

}